.albums-view {
    background-color: #eeeeee;
    -webkit-transition: -webkit-filter 250ms;
    transition: -webkit-filter 250ms;
    -o-transition: filter 250ms;
    -moz-transition: filter 250ms;
    transition: filter 250ms;
    transition: filter 250ms, -webkit-filter 250ms;
}
.blur .tunes-view {
    -webkit-filter: blur(50px) grayscale(10%);
    filter: blur(50px) grayscale(10%);
}
.album:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    .thumbnail {
        -webkit-filter: none;
        filter: none;
    }
}
.album {
    -webkit-transition: transform 200ms ease;
    -moz-transition: transform 200ms ease;
    -o-transition: transform 200ms ease;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    -o-transition: -o-transform 200ms ease;
    -moz-transition: transform 200ms ease, -moz-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease, -moz-transform 200ms ease, -o-transform 200ms ease;
    width: 300px;
    height: 300px;
    text-align: center;
    background: #fff;
    color: #777;
    margin: 1.5vw;
    cursor: pointer;
    .thumbnail {
        width: 100%;
        height: 100%;
        background-size: cover;
        -webkit-transition: -webkit-filter 300ms;
        transition: -webkit-filter 300ms;
        -o-transition: filter 300ms;
        -moz-transition: filter 300ms;
        transition: filter 300ms;
        transition: filter 300ms, -webkit-filter 300ms;
        -webkit-filter: grayscale(100%);
        filter: blur(1px) grayscale(100%);
    }
    figure {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        height: 100%;
        margin: 0;
    }
    figcaption {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 0.25vw 1vw;
        font-size: 1.1vw;
        overflow: hidden;
        background-color: rgba(256, 256, 256, 0);
        color: rgb(84, 84, 84);
        .title,
        .artist {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .title {
            font-weight: bold;
        }
    }
}
